<div class="post-card">
    <a class="post-card__inner" href="{{ post.url | relative_url }}">
      <div class="post-card__header">
        <h4>{{ area.title | strip_html | truncate: 50 }}</h4>
      </div>
      {% if post.summary %}
        <p>{{ post.summary | strip_html | truncatewords:20 }}</p>
      {% else %}
        <p>{{ post.content | strip_html | truncatewords: 20 }}</p>
      {% endif %}
    </a>
    <a href="{{ area.permalink | relative_url }}">
        {% if area.img %}
          <figure class="post-card__thumb">
            <img src="/assets/img/{{ area.img }}" alt="{{ post.title }}">
          </figure>
        {% else %}
          <figure class="post-card__thumb">
            <div class="dark-bg"></div>
          </figure>
        {% endif %}
      </a>
  </div>
  