<header class="header" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <div class="container">
    <div class="header__inner">
      <a href={{site.url}}><h3>컴퓨터이론 및 응용 연구실</h3></a>
      <nav class="header__links">
        <div class="container header__links-wrapper">
          {% for item in site.navigation %}
            <a class="header__link" href="{{ item.link | relative_url }}" itemprop="url">
              <h5><span itemprop="name">{{ item.name }}</span></h5>
            </a>
          {% endfor %}
        </div>
      </nav>
      <div class="header__toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
