$red-color:           #FF3636 !default;
$red-color-dark:      #B71C1C !default;
$orange-color:        #F29105 !default;
$blue-color:          #0076df !default;
$blue-color-dark:     #00369f !default;
$cyan-color:          #2698BA !default;
$light-cyan-color:    lighten($cyan-color, 25%);
$green-color:         #00ab37 !default;
$green-color-lime:    #B7D12A !default;
$green-color-dark:    #009f06 !default;
$green-color-light:   #ddffdd !default;
$green-color-bright:  #11D68B !default;
$purple-color:        #B509AC !default;
$light-purple-color:  lighten($purple-color, 25%);
$pink-color:          #f92080 !default;
$pink-color-light:    #ffdddd !default;
$yellow-color:        #efcc00 !default;

$grey-color:          #828282 !default;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     darken($grey-color, 25%);

$white-color: #ffffff !default;
$black-color: #000000 !default;


// Theme colors

// $code-bg-color-light:     rgba($purple-color, 0.05);
// $code-bg-color-dark:      #2c3237 !default;

.publications {
    margin-top: 2rem;
    h1 {
      color: $purple-color;
      font-size: 2rem;
      text-align: center;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    h2 {
      margin-bottom: 1rem;
      span {
        font-size: 1.5rem;
      }
    }
    h2.year {
      color: $grey-color-light;
      border-top: 1px solid $grey-color-light;
      padding-top: 1rem;
      margin-top: 2rem;
      margin-bottom: -2rem;
      text-align: right;
    }
    ol.bibliography {
      list-style: none;
      padding: 0;
      margin-top: 0;
  
      li {
        margin-bottom: 1rem;
        .abbr {
          height: 2rem;
          margin-bottom: 0.5rem;
          abbr {
            display: inline-block;
            background-color: $purple-color;
            padding-left: 1rem;
            padding-right: 1rem;
            a {
              color: white;
              &:hover {
                text-decoration: none;
              }
            }
          }
          .award {
            color: $purple-color !important;
            border: 1px solid $purple-color;
          }
        }
        .title {
          font-weight: bolder;
        }
        .author {
          a {
            border-bottom: 1px dashed $purple-color;
            &:hover {
                border-bottom-style: solid;
                text-decoration: none;
            }
          }
          > em {
            border-bottom: 1px solid;
            font-style: normal;
          }
        }
        .links {
          a.btn {
            color: var(--global-text-color);
            border: 1px solid var(--global-text-color);
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            &:hover {
              color: $purple-color;
              border-color: $purple-color;
            }
          }
        }
        .hidden {
          font-size: 0.875rem;
          max-height: 0px;
          overflow: hidden;
          text-align: justify;
          -webkit-transition: 0.15s ease;
          -moz-transition: 0.15s ease;
          -ms-transition: 0.15s ease;
          -o-transition: 0.15s ease;
          transition: all 0.15s ease;
  
          p {
            line-height: 1.4em;
            margin: 10px;
          }
          pre {
            font-size: 1em;
            line-height: 1.4em;
            padding: 10px;
          }
        }
        .hidden.open {
          max-height: 100em;
          -webkit-transition: 0.15s ease;
          -moz-transition: 0.15s ease;
          -ms-transition: 0.15s ease;
          -o-transition: 0.15s ease;
          transition: all 0.15s ease;
        }
        div.abstract.hidden {
          border: dashed 1px var(--global-bg-color);
        }
        div.abstract.hidden.open {
          border-color: var(--global-text-color);
        }
      }
    }
}